body {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    
    * {
        font-weight: 300;
    }

    color: $color-text;
    background-color: $color-background;
}

// Dark mode for browser (scrollbars/forms/etc...)
:root {
    color-scheme: dark;
}

main {
    min-height: calc(100vh);
}

footer {
    padding: $content-padding 0;
    background-color: $color-background;

    p {
        text-align: center;
        padding: 0;
        margin: 0;
    }
}

.content-wrapper, .content-wrapper-max, .content-wrapper-narrow {
    padding: $content-padding;
    margin: 0 auto;
}

.content-wrapper {    
    max-width: $content-width;
}

.content-wrapper-max {
    max-width: $content-width-max;
}

.content-wrapper-narrow {
    max-width: $content-width-narrow;
}

$nav-offset: $content-padding * 2;
nav {
    #nav-logo, #nav-socials, #nav-pages {
        position: fixed;
        z-index: 99;

        margin: 0;
        padding: 0;

        list-style: none;

        mix-blend-mode: difference;
        user-select: none;
    }

    #nav-logo {
        top: $nav-offset;
        right: calc(50% + #{($content-width / 2)});
        width: $nav-size;
        height: $nav-size;

        transform-origin: center right;
        transition: transform .15s ease-in-out;
    }
    #nav-logo:hover {
        transform: scale(1.1);
    }
    
    #nav-socials {
        top: $nav-offset;
        left: calc(50% + #{($content-width / 2)});
        height: 100%;
        
        li {
            margin-bottom: $nav-font-size / 2;
            transform-origin: center center;
            transition: transform .15s ease-in-out;
        }
        li:hover {
            transform: scale(1.1);
        }
    
        img {
            width: $nav-font-size;
            height: $nav-font-size;
        }
    }

    #nav-pages {
        top: $nav-offset + $nav-size + $nav-font-size / 2;
        right: calc(50% + #{($content-width / 2)});
    
        font-family: 'Oswald', sans-serif;
        font-size: $nav-font-size;
        text-transform: uppercase;
    
        li {
            font-family: 'Oswald', sans-serif;
            font-weight: 400;
            text-align: right;
            
            a {
                text-decoration: none;
            }
        }
    }
}
.nav-wide {
    #nav-logo {
        left: $nav-offset;
        transform-origin: center left;
    }
    #nav-pages {
        left: $nav-offset;
        right: initial;

        li {
            text-align: left;
        }
    }
    #nav-socials {
        right: $nav-offset;
        left: initial;
    }
}

._404 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    text-transform: uppercase;
    
    mix-blend-mode: difference;

    h1 {
        margin: 0;
        font-size: 96px;
    }

    h2 {
        font-size: 24px;
    }
}

.posts-showcase {
    a, a:hover {
        text-decoration: none;
    }
}

.posts-showcase-alltags { // Add custom styling for tag selector
    .post-tags {
        .post-tag {
            margin-right: 12px;
            
            font-size: 18px;
            font-weight: 400;

            border-style: dashed;
            color: $color-text;
            background-color: rgba($color-background, 0.75);
        }
        .post-tag:hover {
            font-weight: 800;
        }
        .post-tag-selected {
            border-style: solid;
        
            font-weight: 800;
        
            color: $color-background;
            background-color: rgba($color-text, 1);
        }
    }
}

.posts-showcase-post {
    position: relative;

    width: 100%;

    padding: 8px 16px;
    margin: 0 0 24px 0;

    user-select: none;
    cursor: pointer;

    filter: drop-shadow(32px 32px 8px rgba($color-background, 0.8));

    div { // Background
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        filter: saturate(40%);
        opacity: 0.9;

        background-position: left;
        background-repeat: no-repeat;
        background-size:cover;

        transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
    }

    h1, time, p {
        margin: 0;
        padding: 0;
    }
    
    time { // Date
        font-family: 'Michroma', sans-serif;
        font-size: 10px;
        text-transform: uppercase;
    }

    p { // Description
        font-size: 14px;
        text-align: justify;
        letter-spacing: 1px;

        background-color: rgba($color-background, 0.6);
        box-shadow: 0 0 32px 32px rgba($color-background, 0.6);
    }

    h1 { // Title
        font-size: 32px;
        text-transform: uppercase;
        font-weight: 600;
        font-family: 'Oswald', sans-serif;

        color: $color-text;
        letter-spacing: 2px;

        filter: saturate(0) brightness(2);
        transition: all .2s ease-in-out;
    }

    .post-tags { // Position post tags at the bottom left
        list-style: none;
        margin: 32px 0 8px 0;
        padding: 0;
    }
}
.posts-showcase-post:hover { // Apply effects on hover
    div { // Backgrond
        filter: none;
        box-shadow: inset 0 60px 60px 0 rgba($color-background, 0.8);
        opacity: 1;
        background-position: right;

        transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out, background-position 10s linear;
    }

    h1 { // Title
        font-weight: 800;
        filter: saturate(1);
        color: rgba(0, 0, 0, 0);
    }

    .post-tags {
        .post-tag {
            color: $color-background;
            background-color: rgba($color-text, 1);
        }
    }
}

.post-tags {
    margin: 24px 0 24px 0;
    padding: 0;

    list-style: none;

    .post-tag {
        display: inline;
        margin-right: 6px;
        padding: 3px 12px;
    
        font-family: 'Oswald', sans-serif;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        
        color: $color-text;
        background-color: rgba($color-background, 0.75);
        
        border-width: 1px;
        border-color: $color-text;
        border-style: solid;
    
        user-select: none;
        transition: all .2s ease-in-out;
    }
}

a, a:visited, a:hover {
    color: $color-text;
    text-decoration: underline;
    transition: font-weight .1s ease-in-out;
}
a:hover {   
    font-weight: 500;
}

@media (max-width: $max-width-tablet) {
    .content-wrapper {
        max-width: $content-width-narrow;
    }

    nav {
        #nav-logo, #nav-pages {
            right: calc(50% + #{($content-width-narrow / 2)});
        }
        #nav-logo {
            width: $nav-size * 0.6;
            height: $nav-size * 0.6;
        }
        #nav-pages {
            top: $nav-offset + $nav-size * 0.6 + $nav-font-size / 2;
            font-size: $nav-font-size * 0.6;
        }
        #nav-socials {
            left: calc(50% + #{($content-width-narrow / 2)});

            img {
                width: $nav-font-size * 0.6;
                height: $nav-font-size * 0.6;
            }
        }
    }
}

// Mobile
@media (max-width: $max-width-mobile) {
    // Switch top top navbar
    
    #nav-logo {
        background: red;
    }
}