body {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    
    * {
        font-weight: 300;
    }

    color: $color-text;
    background-color: $color-background;
}

a, a:visited, a:hover {
    color: $color-text;
    text-decoration: underline;
    transition: font-weight .1s ease-in-out;
}
a:hover {   
    font-weight: 600;
}

footer {
    padding: 24px;
    text-align: center;
}

.noise-bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: transparent url('/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: noise-bg-animation .2s infinite;
    opacity: .4;
    visibility: visible;
    z-index: -1;
}

@keyframes noise-bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

$cube-size: 120px;
$cube-size-half: $cube-size/2;
$animation-time: 15s;
$cube-color: $color-text;
.cube-container {
	width: $cube-size;
	height: $cube-size;
	perspective: $cube-size*4;
	perspective-origin: 50% $cube-size/4;

    position: absolute;
    z-index: -2;

    .cube {
        position: relative;
        width: 100%;
        height: 100%;
        transform: translate(0,0);
        transform-style: preserve-3d;
        animation: cube-animation $animation-time infinite linear;
    }
    .cube-side {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        transform-origin: center center;
        border: 1px solid rgba( $cube-color, 0.4 );
        background-color: rgba( $cube-color, 0.8 );
        box-shadow: rgba( $cube-color, 1 ) 0px 0px 100px 15px;
    }

    .back {
        transform: translateZ(-#{$cube-size-half}) rotateY(180deg);
    }
    
    .right {
        transform-origin: top right;
        transform: rotateY(-270deg) translateX(#{$cube-size-half});
    }
    
    .left {
        transform-origin: center left;
        transform: rotateY(270deg) translateX(-#{$cube-size-half});
    }
    
    .top {
        transform-origin: top center;
        transform: rotateX(-90deg) translateY(-#{$cube-size-half});
    }
    
    .bottom {
        transform-origin: bottom center;
        transform: rotateX(90deg) translateY(#{$cube-size-half});
    }
    
    .front {
        transform: translateZ(#{$cube-size-half});
    }
}

@keyframes cube-animation {
	0%{
		transform: rotateY(45deg) rotateX(60deg); 
	}
	25% {
		transform: rotateY(135deg) rotateX(150deg);
	}
	50% {
		transform: rotateY(225deg) rotateX(240deg);
	}
	75% {
		transform: rotateY(315deg) rotateX(330deg);
	}
	100% { 
		transform: rotateY(405deg) rotateX(420deg);
	}
}

.grid-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -3;
}
.grid {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	perspective: (100vh * .75);
}
.grid-fade {	
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	background: radial-gradient(ellipse at 50% 50%,
		rgba($color-background, 0%) 0%,
		rgba($color-background, 100%) 80%);
}
.grid-lines {
	width: 100%;
	height: 200%;
	background-image:
    linear-gradient(to right, $color-text 1px, transparent 0),
    linear-gradient(to bottom, $color-text 1px, transparent 0);
	background-size: 45px 30px;
	background-repeat: repeat;
	transform-origin: 100% 0 0;
	animation: grid-animation 45s linear infinite;
}

@keyframes grid-animation {
	0% {
		transform: rotateX(45deg) translateY(-50%);
	}
	100% {
		transform: rotateX(45deg) translateY(0);
	}
}

.content-wrapper {
    max-width: $content-width;
    padding: 32px;
    margin: 0 auto;
}

nav {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    mix-blend-mode: difference;

    #nav-left, #nav-right {
        position: fixed;
        top: 5%;

        width: $nav-width;
        padding: 0;
        margin: 0;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        width: 100%;
        user-select: none;
        font-weight: 400;
    }


    #nav-left { // Logo(Homepage), Home navigation or Post ToC
        left: calc(50% - (#{$content-width} / 2) - #{$nav-margin} - #{$nav-width});
        text-align: right;

        img {
            width: $nav-width;
        }

        #nav-home {
            li {
                font-size: 32px;
                line-height: 40px;
                text-align: justify;
                transition: font-weight .1s ease-in-out;
            }
            li:hover {
                font-weight: 600;
            }
        }
    
        #nav-post {
            li {
                font-size: 14px;
                padding: 0 0 8px 0;
                text-align: left;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            li:hover {
                transform: scaleX(1.05);
            }

            ul {
                li {
                    padding: 0 0 4px 8px;
                }
            }
        }
    }

    #nav-right { // Socials
        right: calc(50% - (#{$content-width} / 2) - #{$nav-margin} - #{$nav-width});

        ul {
            text-align: center;
            line-height: 40px;
        }

        img {
            height: 24px;
            transform-origin: center;
            transition: transform .1s ease-in-out;
        }

        img:hover {
            transform: scale(1.1);
        }
    }
}

._404 {
    height: 80vh;
    padding: 0;
    mix-blend-mode: difference;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;

    padding: 32px;

    h1, h2, h3 {
        padding: 0;
        margin: 0;
    }

    h1 {
        font-size: 160px;
        text-align: center;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 24px;
    }
}

.post-tags {
    margin: 24px 0 24px 0;
    padding: 0;

    list-style: none;

    .post-tag {
        display: inline;
        margin-right: 6px;
        padding: 3px 12px;
    
        font-family: 'Oswald', sans-serif;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        
        color: $color-text;
        background-color: rgba($color-background, 0.75);
        
        border-width: 1px;
        border-color: $color-text;
        border-style: solid;
    
        user-select: none;
        transition: all .2s ease-in-out;
    }
}

// Small screen optimizations
@media screen and (max-width: calc((#{$nav-width} + (#{$nav-margin} * 2)) * 2 + #{$content-width})) {
    .content-wrapper {
        max-width: $content-width-narrow;
    }

    nav {
        #nav-left {
            left: calc(50% - (#{$content-width-narrow} / 2) - #{$nav-margin} - #{$nav-width});
        }
        
        #nav-right {
            right: calc(50% - (#{$content-width-narrow} / 2) - #{$nav-margin} - #{$nav-width});
        }
    }
}

@media screen and (max-width: calc((#{$nav-width} + (#{$nav-margin} * 2)) * 2 + #{$content-width-narrow})) {
    .content-wrapper {
        max-width: $content-width;
    }

    nav {
        display: none; //CHANGE THIS (TEMPORARY FIX)
    }
}