@import "variables";

#effect-cube-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#landing img, #landing-extended img {
    mix-blend-mode: difference;
}

#landing-extended{
    margin-top: $content-padding * 0.3;
    position: relative;
}
.post-list {
    position: absolute;
    top: 0;
    width: 87%;

    .tf-filter-item {
        display: none;
    }
    .tf-show-item {
        display: initial;
    }
}

@media (max-width: $content-width) {
    #landing img, #landing-extended img {
        display: none;
    }
        
    #landing::before {
        content: url("/img/landing-compact.svg");
        mix-blend-mode: difference;
    }

    .post-list {
        position: relative;
        width: 100%;
    }
}

@media (max-width: $max-width-scaled) {
    #landing::before {
        mix-blend-mode: normal;
        opacity: 0.9;
    }
}