$color-text: #dddddd;
$color-background: #111111;

$content-width: 1024px;
$content-width-max: 1920px;
$content-width-narrow: 720px;
$content-padding: 16px;
 
$nav-size: 72px;
$nav-font-size: 20px;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700'); //Oswald
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800'); //Manrope
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap'); //Michroma
@import
    "general",
    "index",
    "post",
    "effects"
;