$color-text: #fff;
$color-background: #111111;

$content-width: 1024px;
$content-width-narrow: 720px;
$content-padding: 16px;

$nav-size: 24px;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700'); //Oswald
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800'); //Manrope
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap'); //Michroma
@import
    "general",
    "index",
    "post"
;