article {
    .content-wrapper {
        background-color: lighten($color-background, 0);
        padding: $content-spacer / 4 $content-spacer;
    }

    header {
        height: 512px;

        .content-wrapper {
            box-shadow: none;
            padding: $content-padding;
        }

        #featured-image {
            position: absolute;
            top: 0;
            left: 0;
            height: 512px;
            width: 100%;

            background-position: center bottom;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            z-index: -999;
        }

        .grid-container {
            position: absolute;
            top: 0;
            left: 0;
            height: 512px;
            width: 100%;

            opacity: 0.5;

            .grid {
                height: 100%;
            }
        }

        #header-shadow {
            box-shadow: inset 0px 384px 128px -128px rgba($color-background, 0.8);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 512px;

            z-index: -115;
        }

        .content-wrapper {
            position: relative;
            height: 512px;

            background-color: initial;
            
            h1, time, .post-tags {
                text-align: center;
            }

            h1 {
                margin: 0 0 $content-padding 0;
                
                font-family: 'Oswald', sans-serif;
                font-weight: 800;
                font-size: 84px;

                letter-spacing: 8px;

                color: rgba(0,0,0,0);
            }

            time {
                display: block;
                font-size: 16px;
                font-weight: 800;
                font-family: 'Michroma', sans-serif;
                text-transform: uppercase;
            }

            p {
                width: 75%;
                margin: 0 auto;

                font-size: 14px;
                text-align: justify;
                letter-spacing: 1px;

                background-color: rgba($color-background, 0.6);
                box-shadow: 0 0 32px 32px rgba($color-background, 0.6);
            }
            
            .post-tags {
                margin: 0;
                padding: 0;

                position: absolute;
                bottom: 32px;
                left: 50%;
                transform: translateX(-50%);

                .post-tag {
                    border-width: 0;
                    font-size: 14px;
                }
            }
        }
    }

    p {
        font-weight: 400;
        * { // Apply to other elements too
            font-weight: 400;
        }
    }

    h1 {
        font-size: 64px;
    }
    
    h2 {
        font-size: 56px;
    }
    
    h3 {
        font-size: 48px;
    }
    
    h4 {
        font-size: 40px;
    }
    
    h5 {
        font-size: 32px;
    }
    
    h6 {
        font-size: 24px;
    }
    
    h1, h2, h3, h4, h5, h6 {
        padding: 0;
        margin: $content-padding / 4 0 $content-padding / 4 0;
    
        font-family: 'Oswald', sans-serif;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    strong {
        font-weight: 800;
        font-family: 'Michroma', sans-serif;
        font-size: 14px;
    }

    blockquote {
        margin: 0;
        padding: 2px 2px 2px $content-padding / 2;
        
        background-color: $color-text;
        color: $color-background;
        
        // border-left: $color-background $content-padding / 2 solid;
        
        font-family: 'Michroma', sans-serif;
        font-weight: 600;
        font-size: 14px;
        * {
            font-weight: 600;
        }
    }

    ol, ul {
        margin: 0;
        padding: 4px 4px 4px $content-padding;
    }
    li {
        margin: 0;
        padding: 0 4px 4px 4px;
    }

    table {
        width: 100%;
    
        border-collapse: collapse;

        th, td {
            border: 1px solid $color-text;
            padding: $content-padding / 4 $content-padding / 2 $content-padding / 4 $content-padding / 2;
        }

        th {
            font-weight: 800;
            color: $color-background;
            background-color: $color-text;
        }
    }

    figure {
        transform: scale(1.1);
        margin: 0;
        padding: 0;
    }

    img {
        cursor: pointer;
    }

    div.highlight pre {
        white-space: pre-wrap;
        word-break: break-word;
    }

    code {
        padding: 3px;
        background-color: lighten($color-background, 2.5%);
    }
    
    .highlight {
        padding: 1px 0;
        margin: $content-padding 0;
        background-color: lighten($color-background, 2.5%);

        code {
            padding: 0;
        }

        * {
            background-color: lighten($color-background, 2.5%);
        }
    }

    .youtube-embed {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%;
        margin-top: $content-padding;
      
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }
    }

    .footnotes {
        border-top: $color-text 22px solid;

        hr {
            display: none;
        }

        li {
            padding: 0;
            margin: 0;
        }
    }

    video {
        width: 100%;
        transform: scale(1.1);
        margin: $content-padding 0;
    }

    .wideimg {
        position: absolute;
        left: 0;
        width: 100%;
        height: 720px;
        margin: 32px 0;

        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .wideimg-spacer {
        height: 752px;
    }

    .gallery {
        img {
            width: 33.333333%;
            height: auto;
        }
    }
}