article {
    // Header section with featured image, title, date, description and tags
    $post-header-height: 512px;
    header {
        height: $post-header-height;

        #featured-image {
            position: absolute;
            top: 0;
            left: 0;
            height: $post-header-height;
            width: 100%;

            background-position: center bottom;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            z-index: -999;
        }

        .effect-grid-container {
            position: absolute;
            top: 0;
            left: 0;
            height: $post-header-height;
            width: 100%;

            opacity: 0.5;

            .effect-grid {
                height: 100%;
            }
        }

        #header-shadow {
            box-shadow: inset 0px 384px 128px -128px rgba($color-background, 0.8);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: $post-header-height;

            z-index: -115;
        }

        .content-wrapper-max {
            padding: $content-padding $nav-size * 2 + $content-padding;

            position: relative;
            height: $post-header-height;
            
            h1 {
                margin: 0 0 $content-padding 0;
                
                font-family: 'Oswald', sans-serif;
                font-weight: 800;
                font-size: 92px;
            }

            h2 {
                margin-top: $content-padding;
                display: block;
                font-size: 16px;
                font-weight: 800;
                font-family: 'Michroma', sans-serif;
                text-transform: uppercase;
            }

            p {
                max-width: $content-width-narrow;
            }
            
            .post-tags {
                margin: 0;
                padding: 0;

                position: absolute;
                bottom: $content-padding * 2;
                z-index: 1;

                .post-tag {
                    border: none;
                    // background-color: rgba($color-text, 1);
                    color: $color-text;
                    font-size: 16px;
                }
            }
        }
    }

    // Standard markdown elements
    p {
        font-size: 16px;
        line-height: 22px;
    }

    h1, h2, h3, h4, h5, h6 {
        padding: 0;
        margin: $content-padding / 4 0 $content-padding / 4 0;
    
        font-family: 'Michroma', sans-serif;
        font-weight: 800;
        text-transform: uppercase;
    }

    h1 {
        font-size: 48px;
    }
    
    h2 {
        font-size: 32px;
    }
    
    h3, h4, h5, h6 {
        font-size: 24px;
    }

    strong {
        font-weight: 800;
    }

    blockquote {
        margin: 0;
        padding: 2px 2px 2px $content-padding / 2;
        
        border: $color-text 2px solid;
        border-left: $color-text 8px solid;
        
        font-family: 'Michroma', sans-serif;
        font-weight: 600;
        * {
            font-size: 12px;
            font-weight: 600;
        }
        text-transform: uppercase;
    }

    ol, ul {
        margin: 0;
        padding: 4px 4px 4px $content-padding;
    }
    li {
        margin: 0;
        padding: 0 4px 4px 4px;
    }

    table {
        width: 100%;
    
        border-collapse: collapse;

        th, td {
            border: 1px solid $color-text;
            padding: $content-padding / 4 $content-padding / 2 $content-padding / 4 $content-padding / 2;
        }

        th {
            font-weight: 800;
            color: $color-background;
            background-color: $color-text;
        }
    }

    figure {
        margin: 0;
        padding: 0;

        filter: drop-shadow(0 0 16px rgba($color-background, 1));
    }

    .pspw-lightbox {
        cursor: pointer;
    }

    div.highlight pre {
        white-space: pre-wrap;
        word-break: break-word;
    }
    code {
        font-size: 13px;
        font-family: 'Martian Mono', sans-serif;

        padding: 4px;

        background-color: lighten($color-background, 2.5%);
        color: $color-text;
    }
    .highlight {
        padding: 1px 0;
        margin: $content-padding 0;

        background-color: lighten($color-background, 2.5%);

        code {
            padding: 0;
            border: none;
        }

        * {
            background-color: lighten($color-background, 2.5%);
        }
    }

    video {
        width: 100%;
        height: auto;
        margin: $content-padding 0;

        filter: drop-shadow(0 0 16px rgba($color-background, 1));
    }

    // Sections used to organize and style content in blogposts into visually attractive pieces
    .section-column, .section-two-column, .section-jumbo, .section-gallery {
        padding: $content-padding * 4 $nav-size * 2;
    }

    .section-column-title {
        margin: 0;
        padding: 0;

        font-family: 'Michroma', sans-serif;
        font-size: 72px;
    }

    .section-splash {
        width: 100%;
        height: 80vh;

        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .section-jumbo {
        width: 100%;
        min-height: 80vh;

        display: flex;
        align-items:center;
        justify-content:center;
        
        h1 {
            font-family: 'Michroma', sans-serif;
            text-transform: initial;
            font-size: 128px;
        }
    }

    .section-two-column {
        .section-column-title {
            text-align: left;
        }
    }
    .section-two-column-left, .section-two-column-right {
        width: 50%;
    }
    .section-two-column-left {
        float: left;
        padding: $content-padding $content-padding $content-padding 0;
    }
    .section-two-column-right {
        float: right;
        padding: $content-padding 0 $content-padding $content-padding;
    }

    .section-gallery {
        img {
            width: ($content-width - $content-padding * 2) / 3;
        }
    }
}

@media (max-width: $max-width-tablet) {
    article {
        header {
            .content-wrapper-max {
                padding: $content-padding $nav-size * 1.2 + $content-padding;

                h1 {
                    font-size: 56px;
                }
                time {
                    font-size: 14px;
                }
                p {
                    max-width: 65%;
                    font-size: 12px;
                    line-height: 16px;
                }

                .post-tags {
                    .post-tag {
                        font-size: 12px;
                    }
                }
            }
        }

        .section-column, .section-two-column, .section-jumbo, .section-gallery {
            padding: $content-padding * 4 $nav-size * 1.2;
        }

        .section-column {
            .section-column-title {
                font-size: 64px;
            }
        }
    }
}

@media (max-width: $max-width-mobile) {
    article {
        header {
            .content-wrapper-max {
                padding: $content-padding $content-padding;
            }
        }

        .section-column, .section-two-column, .section-jumbo, .section-gallery {
            padding: $content-padding 0;
        }
    }
}