@import "variables";

#effect-cube-container {
    top: 5%;
    left: 20%;
    transform: translate(-50%, 0);
}

footer {
    background-color: #111111;
}

#effect-gradient {
    display: none;
}

header { // The header/top section of a post, pretty self explanatory
    #featured-image {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        background-position: center bottom;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -999;
    }

    #header-shadow-top {
        box-shadow: inset 0px 384px 128px -128px rgba($color-background, 0.8);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        z-index: -115;
    }

    #header-shadow-bottom {
        position: absolute;
        width: 100%;
        height: 128px;

        pointer-events: none;

        z-index: -115;
    }

    model-viewer {
        // mix-blend-mode: difference;
        // border: 1px solid red;
        z-index: -110;
        position: absolute;
        width: 384px;
        height: 384px;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }

    .content-wrapper-max {
        position: relative;
        // min-height: $post-header-height;
        padding: $content-padding * 2 $nav-size * 2 + $content-padding;
        max-width: calc(80%);
        margin: 0 auto 0 0;

        h1, h2, p {
            margin: 0;
            padding: 0;
        }

        h1 { // Title
            font-family: 'Orbitron', sans-serif;
            font-size: 96px;
            font-weight: 900;
        }

        h2 { // Date
            font-family: 'Michroma', sans-serif;
            display: block;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
        }

        p { // Description
            max-width: $content-width-narrow;
        }
        
        .post-tags {
            bottom: $content-padding * 2;
            z-index: 1;

            .post-tag {
                border: none;
                color: $color-text;
                padding: 6px 12px;
                font-size: 12px;
            }
        }
    }
}

.gallery {
    a {
        display: block;
        width: 50%;
        height: 256px;
        padding: 4px;
        float: left;

        div {
            height: 100%;
            width: 100%;
            
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    a:hover {
        background-color: initial;
    }

    overflow: auto;
}

// Sections used to organize and style content in blogposts into visually attractive pieces
.section-column, .section-two-column, .section-jumbo {
    padding: $content-padding * 2 $nav-size * 2;
}

.section-column {
    .content-wrapper { // This prevents adding double content padding
        padding: 0;
    }
}

.section-column-title {
    margin: 0;
    padding: 0;

    font-size: 56px;
}

.section-splash, .section-splash-model {
    width: 100%;
    height: 80vh;

    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-splash-model {
    model-viewer {
        height: 100%;
    }
}

.section-jumbo {
    width: 100%;
    min-height: 60vh;

    display: flex;
    align-items:center;
    justify-content:center;
    
    h1 {
        font-family: 'Orbitron', sans-serif;
        font-weight: 900;
        text-transform: initial;
        font-size: 128px;
    }
}

.section-two-column {
    .content-wrapper-max {
        max-width: $content-width * 1.5;
    }

    .section-column-title {
        text-align: left;
    }
}
.section-two-column-left {
    min-width: $content-width * 0.5;
    max-width: calc(100% - #{$content-width * 0.5});
    float: left;
    padding-right: $content-padding;
}
.section-two-column-right {
    width: $content-width * 0.5;
    float: right;
}

@media (max-width: ($content-width * 1.5 + $content-padding * 2)) {
    .section-two-column {
        .content-wrapper-max {
            max-width: $content-width;
        }
    }

    .section-two-column-left, .section-two-column-right {
        float: none;
        max-width: $content-width;
        min-width: initial;
        width: initial;
        padding: 0;
    }

}

@media (max-width: $max-width-full) {
    header {
        .content-wrapper-max {
            padding: $content-padding;

            h1 {
                font-size: 62px;
            }
        }
    }

    .section-column, .section-two-column, .section-jumbo {
        padding: $content-padding;
    }

    .section-jumbo {
        h1 {
            font-size: 96px;
        }
    }
}

@media (max-width: $max-width-scaled) {
    header {
        .content-wrapper-max { // Even smaller font sizes to make sure everything fits on screen
            h1 {
                font-size: 32px;
            }

            h2 {
                font-size: 10px;
            }
        }
    }

    .section-column, .section-two-column, .section-jumbo {
        padding: 0;
    }

    .section-column-title {
        text-align: left;
        font-size: 32px;
    }

    .section-jumbo {
        h1 {
            font-size: 84px;
        }
    }

    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 18px;
    }
}