{{ define "main" }}

{{ partial "func-scss.html" "static-page" }}

<div id="static-page-wrapper">
    <div id="static-page-background"></div>
    <div class="content-wrapper">
        <h1>About</h1>

        <h3>Who is triankl3?</h3>
        <p>
            I am Nikola Pešević (b. 2003), multidisciplinary artist and developer based in Novi Sad, Serbia. 
            Most of my work focuses on creating worlds and designing systems that come to life through interactivity, giving form to function without sacrificing artistic vision.
        </p>

        <h3>Creative Journey</h3>
        <p>
            Playing video games quickly turned into a passion for creating them. At the age of 13, I completed my first freelance commision: a custom community map for the game <i>Garry's Mod</i>. 
            Since then, I have worked on dozens of projects, ranging from game development to graphic design, without ever letting go of my spirit for tinkering.

            <br><br>
            
            My academic journey began with a solid foundation in Graphic Design at Bogdan Šuput design school. I am currently pursuing a degree in Video Game Design at the Academy of Arts Novi Sad.
        </p>

        <h3>Versatile Toolbox</h3>
        <p>
            Given my journey, I have acquired a diverse skill set. With each project I take a multidisciplinary approach by combining art and technology. 
            By paying attention to both aesthetics and technical aspects, I am able to create a wide variety of experiences.

            <br><br>

            As an indie game developer, I have practised my ability to work on projects from start to finish. Additionally, I am also proficient in graphic design, web design, UI/UX, level design, and I have some experience with 3D modelling and animation.
        </p>

        <h3>Resume</h3>
        <p>
            For complete information on skills and experience, please <a target="_blank" href="{{ .Site.Params.resumePDF }}">download my PDF resume</a>.
        </p>
    </div>
</div>
    
{{ end }}