{{ define "main" }}

<style>
    footer {
        mix-blend-mode: difference;
    }

    .effect-grid {
        opacity: 0.1;
    }
</style>

<div id="about">
    <div id="about-background"></div>
    <div class="content-wrapper">
        <img src="/img/about.svg" style="user-select: none;" draggable="false">
        <h1>Who is Никола?</h1>
        <p>
            Nikola Pešević (b. 2003) based in Novi Sad(Serbia) is a multidisciplinary artist and developer focused on creating worlds and designing systems that come to life through interactivity, 
            awarding form to function without sacrificing the artistic vision. Commonly present online as triankl3.
        </p>

        <h1>Creative Journey</h1>
        <p>
            Playing video games quickly turned into a passion for creating them. At the age of 13, he finished his first freelance commision creating a custom community map for the game Garry's Mod.
            Since then, he has worked on dozens of projects, ranging from game development to web development, never letting go of his spirit for tinkering.

            <br><br>
            
            His academic journey began with a solid foundation in Graphic Design at the school of design Bogdan Šuput Novi Sad, currently being followed up by Video Game Design studies at 
            the Academy of Arts Novi Sad.
        </p>

        <h1>Versatile Toolbox</h1>
        <p>
            His creative arsenal is diverse, reflecting the multidisciplinary approach that each project is a symphony of creativity and function.
            Armed with a keen eye for aesthetics and a passion for programming, he is able to create a wide variety of experiences.

            <br><br>

            As an indie game developer he has gained the ability to lead experiences from start to finish, primarly focused on the design and programming aspects.
            However, that is just the tip of the iceberg as he is also profficient in graphic design, web design, UI/UX, 3D modeling and animation.
        </p>

        <h1>Resume</h1>
        <p>
            For complete information on skills and experience, please refer to my resume:
        </p>
        <ul>
            <li>
                <li><a target="_blank" href="/download/resume.pdf">Download PDF Resume</a></li>
            </li>
        </ul>
    </div>
</div>
    
{{ end }}