<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {{ $featured_img := "" }}
        {{ if (.IsPage) }}
            <!-- Prepare a compressed version of the feature image to use if on a post -->
            {{ $featured_img_path := print "img/" .Params.image }}
            {{ $featured_img = resources.Get $featured_img_path }}
            {{ $featured_img = $featured_img.Resize "x1024"}}

            {{ .Scratch.Set "featured_img" $featured_img }}
        {{- end -}}

        {{ $pageTitle := .Site.Title }}
        {{ if (.IsHome) }}
            {{ $pageTitle = print "Home | " .Site.Title }}
        {{ else if (.Page.Title) }}
            {{ $pageTitle = print .Page.Title " | " .Site.Title }}
        {{- end -}}

        <!-- Facebook Meta Tags -->
        <meta property="og:title" content="{{ $pageTitle }}">
        <meta property="og:description" content="{{- if (.IsPage) -}} {{- .Description -}} {{- else -}} {{- .Site.Params.Description -}} {{- end -}}">
        <meta property="og:image" content='{{- if (.IsPage) -}} {{- $featured_img.Permalink -}} {{- end -}}'>
        <meta property="og:url" content="{{ .Page.Permalink }}">
        <meta property="og:site_name" content="{{ .Site.Title }}">
        <meta property="og:type" content="article">
                
        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{ .Page.Title }}">
        <meta name="twitter:description" content="{{- if (.IsPage) -}} {{- .Description -}} {{- else -}} {{- .Site.Params.Description -}} {{- end -}}">
        <meta name="twitter:image" content="{{- if (.IsPage) -}} {{- $featured_img.Permalink -}} {{ end -}}">

        {{ $normalize_style := resources.Get "css/modern-normalize.css" | resources.Minify }}
        <link rel="stylesheet" href="{{ $normalize_style.RelPermalink }}">

        {{ $main_style := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "main_parsed.scss" . | resources.ToCSS (dict "targetPath" "css/site.css" "outputStyle" "compressed") | resources.Minify }}
        <link rel="stylesheet" href="{{ $main_style.RelPermalink }}">

        <title>
            {{- $pageTitle -}}
        </title> 
    </head>
    <body>
        <div class="noise-bg"></div>

        <nav>
            <div id="nav-left"> <!-- Use JS for navigation here  -->
                <a href="/"><img src="/img/logo.svg"></a>
                <ul id="nav-home">
                    {{ if (.IsHome) }} <!-- If on home page, use JS to scroll to sections -->
                        <li onclick="scrollToElement('#about', {offset: -64, duration:750})">about</li>
                        <li onclick="scrollToElement('#projects', {offset: -64, duration:750})">projects</li>
                        <li onclick="scrollToElement('#contact', {offset: -64, duration:750})">contact</li>
                    {{ end }}
                </ul>

                <ul id="nav-post">
                    {{ if (.IsPage) }} <!-- If on blog post/regular page, use JS to scroll to headings -->
                        {{- range .Fragments.Headings }}
                            <li onclick="scrollToElement('#{{ anchorize .ID }}', {offset: -8, duration:750})">{{ .Title }}</li>
                            {{- range .Headings }}
                                {{- if .Headings }}
                                    <ul>
                                        <li onclick="scrollToElement('#{{ anchorize .ID }}', {offset: -8, duration:750})">{{ .Title }}</li>
                                    </ul>
                                {{- end }}
                            {{- end }}
                        {{- end }}
                    {{ end }}
                </ul>
            </div>
            <div id="nav-right">
                <ul>
                    <li><a target="_blank" href="{{ site.Params.contact.github }}"><img src="/img/github.svg"></a></li>
                    <li><a target="_blank" href="{{ site.Params.contact.linkedin }}"><img src="/img/linkedin.svg"></a></li>
                    <li><a target="_blank" href="{{ site.Params.contact.twitter }}"><img src="/img/twitter.svg"></a></li>
                    <li><a href="mailto:{{ site.Params.contact.email }}"><img src="/img/email.svg"></a></li>
                </ul>
            </div>
        </nav>

        {{ block "main" . }}{{ end }}

        <footer>
            <p>{{ .Site.Copyright }}</p>
        </footer>
    </body>

    {{ $masonry_js := resources.Get "js/masonry.js" | minify }}
    <script src="{{ $masonry_js.RelPermalink }}"></script>

    {{ $fitTextWebComponent_js := resources.Get "js/fitTextWebComponent.js" | minify }}
    <script src="{{ $fitTextWebComponent_js.RelPermalink }}"></script>

    {{ $scrollToElement_js := resources.Get "js/scrollToElement.js" | minify }}
    <script src="{{ $scrollToElement_js.RelPermalink }}"></script>

    {{ $vanillaTilt_js := resources.Get "js/vanillaTilt.js" | minify }}
    <script src="{{ $vanillaTilt_js.RelPermalink }}"></script>

    <script> // Initialize scripts here
        var elem = document.querySelector('.msnry-grid');
        var msnry = new Masonry(elem, {
            itemSelector: '.msnry-grid-item',
            columnWidth: 200
        });

        VanillaTilt.init(document.querySelector(".tilt-img"), {
            reverse: true,
            max: 15,
            scale: 0.95,
            speed: 1000,
        });

        VanillaTilt.init(document.querySelector(".tilt-post"), {
            reverse: true,
            max: 10,
            scale: 0.95,
            speed: 1000,
        });
    </script>
</html>