{{ define "main" }}

<style>
    footer {
        mix-blend-mode: difference;
    }

    #effect-grid {
        opacity: 0.1;
    }
</style>

<div id="contact">
    <div id="contact-background"></div>
    <div class="content-wrapper">
        <h1>Contact</h1>

        <h3>Work inquiries</h3>
        <p>The best method to reach me for work inquires is:</p>
        <ul>
            <li><a href="mailto:{{ site.Params.contact.email }}">triankl3@gmail.com</a></li>
        </ul>

        <h3>Other platforms</h3>
        <p>You can also find me on the following platforms:</p>
        <ul>
            <li><a target="_blank" href="{{ site.Params.contact.github }}">GitHub</a></li>
            <li><a target="_blank" href="{{ site.Params.contact.linkedin }}">LinkedIn</a></li>
            <li><a target="_blank" href="{{ site.Params.contact.twitter }}">X.com</a></li>
            <li><a target="_blank" href="{{ site.Params.contact.talenthub}}">TalentHub</a></li>
        </ul>
    </div>
</div>

{{ end }}