{{ define "main" }}

<script>
    // This script handles changing the color gradient when hovering over a post
    var effectGradient = document.getElementById('effect-gradient');
    function updateGradientColor(colorArray) {
        effectGradient.setAttribute("style", "background: linear-gradient(90deg, " + colorArray + "); background-size: 200% 200%; opacity: 1;");
    }
    function resetGradientColor() {
        effectGradient.style.opacity = 0;
    }
</script>

<style>
    .tf-filter-item {
        display: none;
    }
    .tf-show-item {
        display: initial;
    }
</style>

<div class="content-wrapper">
    <div class="posts-showcase">
        <div class="posts-showcase-alltags">
            <ul class="post-tags">
                <li class="post-tag tag-button" id="selectAllTags" onclick="htf.showAll('tags')">all</li>
        
                {{ $section_tags := slice }}
                {{ range (where .Site.Pages "Section" .Section) }}
                    {{ range .Pages }}
                        {{ with .Params.tags }}
                            {{ if ge (len .) 1 }}
                                {{ range . }}
                                    {{ if not (in $section_tags .) }}
                                        {{ $section_tags = $section_tags | append . }}
                                    {{ end }}
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                {{ end }}
        
                {{ range $index, $tag := $section_tags }}
                    <li class="post-tag tag-button" id="tag-{{ $tag | safeJS }}" onclick="htf.checkFilter('{{ $tag | safeJS }}', 'tag-')">{{ $tag }}</li>
                {{ end }}
            </ul>
        </div>
    
        {{ range (where .Site.Pages "Section" .Section) }}
            {{ range .Pages }}
                {{/*  Prepare a compressed version of the featured image to use as a thumbnail  */}}
                {{ $featured_img_path := print "img/" .Params.image }}
                {{ $featured_img := resources.Get $featured_img_path }}
                {{ $featured_img := $featured_img.Resize "x480" }}
                {{ $featured_color := (index $featured_img.Colors 1) }}
                {{ $featured_color_list := delimit $featured_img.Colors ", " }}
    
                <a href=" {{ .RelPermalink }} " class="tf-filter-item" data-tags="{{ with .Params.tags }} {{ range . }} {{ . }} {{ end }} {{ end }}">
                    <div class="posts-showcase-post vanilla-tilt" onmouseenter="updateGradientColor({{ $featured_color_list }})" onmouseleave="resetGradientColor()">
                        <div style="background-image: url('{{ $featured_img.RelPermalink }}')"></div>
                        <h2>{{ .Date.Format "Jan 2, 2006" }} // {{ .Section }}</h2>
                        <h1 style=" -webkit-text-stroke: 1px color-mix(in srgb, {{ $featured_color }} 50%, white)">{{ .Title }}</h1>
                        <p>{{ .Description | truncate 96 }}</p>
                        
                        <ul class="post-tags">
                            {{ with .Params.tags }}
                                {{ if ge (len .) 1 }}
                                    {{ range . }}
                                        <li class="post-tag">{{ . }}</li>
                                    {{ end }}
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </a>
            {{ end }}
        {{ end }}
    </div>
</div>

{{ $hugo_tags_filter_js := resources.Get "js/hugo-tags-filter-1.2.2.js" | minify }}
<script src="{{ $hugo_tags_filter_js.RelPermalink }}"></script>
<script>
        var htf = new HugoTagsFilter({
            filters: [
                {
                    name: 'tags',
                    prefix: 'tag-',
                    buttonClass: 'tag-button',
                    allSelector: '#selectAllTags',
                    attrName: 'data-tags',
                }
            ],
            showItemClass: "tf-show-item",
            filterItemClass: "tf-filter-item",
            activeButtonClass: "post-tag-selected"
        })
</script>

{{ end }}