{{ define "main" }}

{{ partial "func-scss.html" "single" }}

<header>        
    {{ $featured_img := .Page.Resources.GetMatch .Params.image }}
    {{ $featured_img := $featured_img.Resize "1280x" }}
    {{ $featured_color := (index $featured_img.Colors 1) }}
    {{ $featured_color_2 := (index $featured_img.Colors 2) }}
    {{ $featured_color_rgb := partial "func-hextorgb.html" $featured_color | print | safeCSS }}
    {{ $featured_color_rgb_2 := partial "func-hextorgb.html" $featured_color_2 | print | safeCSS }}
    <div id="featured-image" style="background-image: linear-gradient(to bottom, transparent 0%, #111111 80%), url('{{ $featured_img.RelPermalink }}');"></div>

    <div id="header-shadow-top"></div>

    {{ if isset .Params "model" }}
        {{ $model := .Page.Resources.GetMatch .Params.model }}
        <model-viewer src="{{ $model.RelPermalink }}" alt="" shadow-intensity="2" shadow-softness="0.5" exposure="1.5" auto-rotate auto-rotate-delay="0" rotation-per-second="45deg" loading="eager">
            <span slot="progress-bar"></span>
        </model-viewer>
    {{ end }}

    <style>            
        {{ if isset .Params "model" }}
        #effect-cube-container {
            display: none;
        }
        {{ else }}
        #effect-cube-container .effect-cube-side {
            border: 1px solid rgba({{ $featured_color_rgb_2 }}, 0.4 );
            background-color: rgba({{ $featured_color_rgb }}, 0.8 );
            box-shadow: rgba({{ $featured_color_rgb }}, 0.8 ) 0 0 128px 0;
        }
        {{ end }}
    </style>

    <div class="content-wrapper-max">
        <h2 style="color: color-mix(in srgb, {{ $featured_color }} 50%, white)">{{ .Date.Format "Jan 2, 2006" }} // {{ .Section }}</h2>
        <h1 style="color: color-mix(in srgb, {{ $featured_color }} 50%, white)">{{ .Title }}</h1>
        <p style="color: color-mix(in srgb, {{ $featured_color_2 }} 35%, white)">{{ .Description }}</p>
        <ul class="post-tags">
            {{ with .Params.tags }}
            {{ if ge (len .) 1 }}
            {{ range . }}
            <li class="post-tag" style="background-color: color-mix(in srgb, {{ $featured_color }} 50%, black)">{{ . }}</li>
            {{ end }}
            {{ end }}
            {{ end }}
        </ul>
    </div>

    {{/*  Header bottom gradient shadow  */}}
    <div id="header-shadow-bottom" style="box-shadow: 0 -128px 64px 64px rgba({{ $featured_color_rgb }}, 0.5);"></div>
</header>

{{ .Content }}

{{ end }}