{{ $background := .background }}
{{ $grid := .grid}}
{{ $unique_id := .unique_id }}

{{ $default_color := "#dddddd" }}
{{ $default_bg_color := "#111111" }}
{{ $final_color := $default_color }}
{{ $final_bg_color := $default_bg_color }}

{{ if in $background "white" }} {{/* Use white background */}}
    {{ $final_color = $default_bg_color }}
    {{ $final_bg_color = $default_color }}
{{ else if in $background "black" }} {{/* Using black background */}}
    {{ $final_color = $default_color }}
    {{ $final_bg_color = $default_bg_color }}
{{ else if hasPrefix $background "#" }} {{/* Using color as background */}}
    {{ $final_bg_color = $background }}
{{ end }}

<style>
    #{{ $unique_id }} {
        background-color: {{ $final_bg_color }};
        color: {{ $final_color }};

        {{ if hasSuffix $grid "px" }}
            {{ $final_color_rgb := partial "hextorgb.html" $final_color | print | safeCSS }}
            background-size: {{ $grid }} {{ $grid }};
            background-image:
            linear-gradient(to right, rgba({{ $final_color_rgb }}, 0.25) 1px, transparent 1px),
            linear-gradient(to bottom, rgba({{ $final_color_rgb }}, 0.25) 1px, transparent 1px);
        {{ end }}
    }
    #{{ $unique_id }} a {
        color: {{ $final_color }};
    }
    #{{ $unique_id }} blockquote {
        border-color: {{ $final_color }};
    }
    #{{ $unique_id }} table td {
        border-color: {{ $final_color }};
    }
    #{{ $unique_id }} table th {
        border-color: {{ $final_color }};
        color: {{ $final_bg_color }};
        background-color: {{ $final_color }};
    }

    {{ if hasPrefix $background "#" }}
        #{{ $unique_id }} p {
            mix-blend-mode: difference;
        }
        #{{ $unique_id }} h1 {
            mix-blend-mode: difference;
        }
        #{{ $unique_id }} h2 {
            mix-blend-mode: difference;
        }
        #{{ $unique_id }} h3 {
            mix-blend-mode: difference;
        }
        #{{ $unique_id }} h4 {
            mix-blend-mode: difference;
        }
        #{{ $unique_id }} h5 {
            mix-blend-mode: difference;
        }
        #{{ $unique_id }} h6 {
            mix-blend-mode: difference;
        }
        #{{ $unique_id }} blockquote {
            mix-blend-mode: difference;
        }
        #{{ $unique_id }} ol {
            mix-blend-mode: difference;
        }
        #{{ $unique_id }} ul {
            mix-blend-mode: difference;
        }
        #{{ $unique_id }} table {
            mix-blend-mode: difference;
        }
        #{{ $unique_id }} a {
            mix-blend-mode: difference;
        }
        #{{ $unique_id }} figure a {
            mix-blend-mode: initial;
        }
    {{ end }}
</style>