<nav>
    <ul id="nav-left"> <!-- Use JS for navigation here  -->
        <img src="/img/logo.svg"> 
        <li onclick="scrollToElement('#about', {offset: -64, duration:750})">about</li>
        <li onclick="scrollToElement('#projects', {offset: -64, duration:750})">projects</li>
        <li onclick="scrollToElement('#contact', {offset: -64, duration:750})">contact</li>
    </ul>
    <ul id="nav-right">
        <li><a target="_blank" href="{{ site.Params.contact.github }}"><img src="/img/github.svg"></a></li>
        <li><a target="_blank" href="{{ site.Params.contact.linkedin }}"><img src="/img/linkedin.svg"></a></li>
        <li><a target="_blank" href="{{ site.Params.contact.twitter }}"><img src="/img/twitter.svg"></a></li>
        <li><a href="mailto:{{ site.Params.contact.email }}"><img src="/img/email.svg"></a></li>
    </ul>
</nav>