<nav>
    <ul id="nav-left"> <!-- Use JS for navigation here  -->
        <img src="/img/logo.svg"> 
        <li>about</li>
        <li>projects</li>
        <li>contact</li>
    </ul>
    <ul id="nav-right">
        <li><a target="_blank" href="{{ site.Params.contact.github }}"><img src="/img/github.svg"></a></li>
        <li><a target="_blank" href="{{ site.Params.contact.linkedin }}"><img src="/img/linkedin.svg"></a></li>
        <li><a target="_blank" href="{{ site.Params.contact.twitter }}"><img src="/img/twitter.svg"></a></li>
        <li><a target="_blank" href="{{ site.Params.contact.email }}"><img src="/img/email.svg"></a></li>
    </ul>
</nav>