<nav>
    <ul id="nav-left"> <!-- Use JS for navigation here  -->
        <img src="/img/logo.svg"> 
        <li>about</li>
        <li>projects</li>
        <li>contact</li>
    </ul>
    <ul id="nav-right">
        <li><a target="_blank" href="https://github.com/triankl3"><img src="/img/github.svg"></a></li>
        <li><a target="_blank" href="#"><img src="/img/linkedin.svg"></a></li>
        <li><a target="_blank" href="https://twitter.com/triankl3"><img src="/img/twitter.svg"></a></li>
        <li><a target="_blank" href="mailto:triankl3@gmail.com"><img src="/img/email.svg"></a></li>
    </ul>
</nav>