{{ define "main" }}

{{ partial "effect-cube.html" "cube1" }}
{{ partial "effect-cube.html" "cube2" }}
<style>
    #cube1, #cube2 {
        top: 50%;
        left: 50%;
    }
    #cube1 {
        transform: translate(256px, -224px);
    }
    #cube2 {
        transform: translate(-384px, 42px);
    }
</style>

<div class="content-wrapper">
    <div id="landing">
        <img src="/img/landing-main.svg" style="user-select: none;" draggable="false">
        <img id="landing-extended" src="/img/landing-extended.svg" style="user-select: none;" draggable="false">
    </div>
</div>

{{ end }}