{{/*  Image shortcode, use this to properly display images in markdown  */}}
{{/*  Creates a tumbnail scale of image and large image based on context */}}
{{/*  Also creates lightbox + figure wrapper if used outside of gallery section */}}

{{- $alt := .Get "alt" -}}
{{- $src := .Page.Resources.GetMatch (printf "*%s*" (.Get "src")) -}}
{{- $src_thumb := $src.Resize "x720" -}}
{{- $src_full := $src.Resize "x1440" -}}

{{- if not (in .Parent.Name "section-gallery") -}}

<div class="pspw-lightbox">
<a href="{{ $src_full.RelPermalink }}" data-pswp-width="{{ $src_full.Width }}" data-pswp-height="{{ $src_full.Height }}" target="_blank">
<figure>
<img class="vanilla-tilt" src="{{ $src_thumb.RelPermalink }}" alt="{{ $alt }}" width="100%" height="auto"/>
<figcaption>{{ $alt }}</figcaption>
</figure>
</a>
</div>

{{- else -}}

<a href="{{ $src_full.RelPermalink }}" data-pswp-width="{{ $src_full.Width }}" data-pswp-height="{{ $src_full.Height }}" target="_blank">
<div class="vanilla-tilt" style="background-image: url(' {{ $src_thumb.RelPermalink }}')"></div>
</a>

{{- end -}}