{{- $title := .Get "title" -}}

{{- $background := .Get "background" -}}
{{- $grid := .Get "grid" -}}
{{- $unique_id := (print "_" (delimit (shuffle (split (md5 .Inner) "" )) ""))}}
{{ partial "background-func.html" (dict "context" . "background" $background "grid" $grid "unique_id" $unique_id) }}

<div class="section-two-column" id="{{ $unique_id }}" style="overflow: auto">
    <div class="content-wrapper-max">
        <h1 class="section-column-title animate-visibility-slow">{{ $title }}</h1>
        {{ .Inner }}
    </div>
</div>