{{ $title := .Get "title" }}

{{ $background := .Get "background" }}
{{ $color := .Get "color" }}
{{ $unique_id := (print "_" (delimit (shuffle (split (md5 .Inner) "" )) "")) }}
{{ partial "func-background.html" (dict "context" . "background" $background "color" $color "unique_id" $unique_id) }}

<div class="section-two-column" id="{{ $unique_id }}" style="overflow: auto">
    <div class="content-wrapper-max">
        <h1 class="section-column-title">{{ $title }}</h1>
        {{ .Inner }}
    </div>
</div>