{{ $title := .Get "title" }}
{{ $side := .Get "side" }}

{{ $background_color := .Get "background_color" }}
{{ $background_img := .Get "background_img" }}
{{ $color := .Get "color" }}
{{ $unique_id := (print "_" (delimit (shuffle (split (md5 .Inner) "" )) "")) }}
{{ partial "func-background.html" (dict "context" . "background_color" $background_color "background_img" $background_img "color" $color "unique_id" $unique_id) }}

<style>
    #{{ $unique_id }} {
        {{ if in $side "left" }}
            text-align: left;
            .content-wrapper {
                margin: 0 auto 0 0;
            }
        {{ else if in $side "right" }}
            text-align: right;
            .content-wrapper {
                margin: 0 0 0 auto;
            }
        {{ else }}
            text-align: center;
            .content-wrapper {
                text-align: left;
            }
        {{ end }}
    }
</style>

<div class="section-column" id="{{ $unique_id }}">
<div class="content-wrapper-max">
<h1 class="section-column-title">{{ $title }}</h1>
<div class="content-wrapper">
{{ .Inner }}
</div>
</div>
</div>